{
    "env": {
        "es6": true
    },
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "ignorePatterns": [
        "cli/",
        "config/",
        "webpack.config.js",
        "babel.config.js",
        "jest.config.js",
        "node_modules/",
        "src/lib/@types"
    ]
}
